<h1>Multiplication</h1>

<dl>
  <dt>Multiply this:</dt>
  <dd><%= @first_number %></dd>

  <dt>By this:</dt>
  <dd><%= @second_number %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/multiply">Do another multiplication</a>
